.body {
    background-color: '#fff'
}

.eb-garamond-header {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.eb-garamond {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.guess-letter {
    border: 2px solid;
    border-color: #d3d6da;
    width: 48px;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px 3px;
}

.guess-letter-filled {
    border-color: #878a8c;
}

.guess-letter-add-animation {
    animation-name: letter-add;
    animation-duration: 0.1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

@keyframes letter-add {
    0% {
        transform: scale(1.0)
    }
    20% {
        transform: scale(1.1)
    }
    80% {
        transform: scale(1.1)
    }
    100% {
        transform: scale(1.0)
    }
}

.guess-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 3px 0px;
}

.guess-row-animation-shake {
    animation-name: row-animation-shake;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}

@keyframes row-animation-shake {
    0% {
        transform: translateX(0px)
    }
    10% {
        transform: translateX(4px)
    }
    20% {
        transform: translateX(-4px)
    }
    30% {
        transform: translateX(4px)
    }
    40% {
        transform: translateX(-4px)
    }
    60% {
        transform: translateX(4px)
    }
    70% {
        transform: translateX(-4px)
    }
    80% {
        transform: translateX(4)
    }
    90% {
        transform: translateX(-4px)
    }
    100% {
        transform: translateX(0px)
    }
}